blueprints/src/main/resources/vanadis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2009 Kjetil Valstadsve
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:v="http://kjetilv.github.com/vanadis/blueprints"
           targetNamespace="http://kjetilv.github.com/vanadis/blueprints">
  <xs:include schemaLocation="vanadis-module.xsd"/>
  <xs:include schemaLocation="vanadis-bundle.xsd"/>

  <xs:element name="blueprints" type="v:blueprintsType"/>

  <xs:complexType name="blueprintsType">
    <xs:sequence>
      <xs:element type="v:blueprintType" name="blueprint" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="default-version"/>
  </xs:complexType>

  <xs:complexType name="blueprintType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="v:bundlesType" name="bundles" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="v:bundleType" name="auto-bundle" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="v:bundleType" name="bundle" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="v:moduleType" name="module" maxOccurs="unbounded" minOccurs="0"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="name" use="optional" default="untitled"/>
    <xs:attribute type="xs:string" name="extends" use="optional"/>
    <xs:attribute type="xs:boolean" name="abstract" use="optional" default="false"/>
    <xs:attribute type="xs:string" name="default-version"/>
  </xs:complexType>
</xs:schema>
