blueprints/src/main/resources/vanadis-bundle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2009 Kjetil Valstadsve
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:v="http://kjetilv.github.com/vanadis/blueprints"
           targetNamespace="http://kjetilv.github.com/vanadis/blueprints">
  <xs:include schemaLocation="vanadis-properties.xsd"/>

  <xs:complexType name="bundlesType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="v:bundlesType" name="bundles" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="v:bundleType" name="auto-bundle" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="v:bundleType" name="bundle" maxOccurs="unbounded" minOccurs="0"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="repo" use="optional"/>
    <xs:attribute type="xs:string" name="group-prefix" use="optional"/>
    <xs:attribute type="xs:string" name="artifact-prefix" use="optional"/>
    <xs:attribute type="xs:string" name="group" use="optional"/>
    <xs:attribute type="xs:string" name="version" use="optional"/>
    <xs:attribute type="xs:string" name="start-level" use="optional"/>
    <xs:attribute type="xs:string" name="global-properties" default="false" use="optional"/>
  </xs:complexType>

  <xs:complexType name="bundleType">
    <xs:sequence>
      <xs:element type="v:propertiesType" name="properties" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="uri" use="optional"/>
    <xs:attribute type="xs:string" name="repo" use="optional"/>
    <xs:attribute type="xs:string" name="group" use="optional"/>
    <xs:attribute type="xs:string" name="artifact" use="optional"/>
    <xs:attribute type="xs:string" name="version" use="optional"/>
    <xs:attribute type="xs:string" name="start-level" use="optional"/>
    <xs:attribute type="xs:string" name="global-properties" default="false" use="optional"/>
  </xs:complexType>
</xs:schema>
