blueprints/src/main/resources/vanadis-properties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2009 Kjetil Valstadsve
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:v="http://vanadis.sf.net/vanadis-blueprints"
           targetNamespace="http://vanadis.sf.net/vanadis-blueprints">
  <xs:complexType name="propertiesType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="v:propertyType" name="property" maxOccurs="unbounded"/>
      <xs:element type="v:multiPropertyType" name="multi-property" maxOccurs="unbounded"/>
      <xs:element type="v:xmlPropertyType" name="xml" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="propertyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="type" default="string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="xmlPropertyType">
    <xs:complexContent>
      <xs:extension base="xs:anyType">
        <xs:attribute type="xs:string" name="name" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="multiPropertyType">
    <xs:sequence>
      <xs:element type="v:propertyValue" name="value" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="type" default="string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="propertyValue">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
